<div id = "pending">
    <h1>Pending Friend Requests</h1>
    <h3>Recieved</h3>

    <ul>
        <% @user.inverse_friends.each do |recieved_user| %>
                <li>
                <%# friend to add they are sending request to you%>
                <%= recieved_user.email %>
                (<%= link_to "add friend", friendships_path(friend_id: recieved_user.id, confirmed: true), data: { turbo_method: "patch" }%>)
                </li>
        <% end%>
       
    </ul>
    <h3>Sent</h3>
    <ul>
        <% @user.friendships.each do |sent_user|%>
             <% unless sent_user.confirmed%>
                <li>
                    <%# friend request you already sent%>
                    <%= sent_user.friend.email %>
                    (<%= link_to "remove request", sent_user, data: {turbo_method: "delete"}%>)
                </li>
            <%end%>
        <% end %>
    </ul>
</div>

<div id = "friends">
    <h1>Friends</h1>
    <% @user.true_friends.each do |friend|%>
            <li>
                <%# friend request you already sent%>
                <%= friend.email %>
                (<%# link_to "remove", , data: {turbo_method: "delete"}%>)
            </li>
    <% end %>
</div>