<%= stylesheet_link_tag 'post.css' %>
<div class = "post">
  <div class = "user_data">
    <% user = User.find(post.user_id)%>
    <%= image_tag user.profile_pic %>
    <div class = "post">
      <% user = User.find(post.user_id)%>
      <p> Author: <%= user.email %> </p>
      <h3>Title: <%= post.title %> </h3>
      <p> <%= post.body %></p>
    </div>
  </div>


<div class = "clickables">
  <div class = "like">
    <%= link_to "Like", likes_path(global_id: post.to_global_id), data: {turbo_method: :post} %>
    <%= Like.where(likable_id: post, likable_type: post.class.name).count %>
  </div>
  <%= link_to "Show", post_path(post.id)%>  |  
  <%= link_to "Edit", edit_post_path(post.id)%>
</div>
  <%# post.class.name %>






